$phone-portrait-min: 320px;
$phone-landscape-min: 480px;

$phone-landscape-max: 767px;
$phone-portrait-max: 479px;

$tablet-portrait-max: 767px;
$tablet-landscape-max: 991px;

$desktop-min: $tablet-landscape-max;
$large-desktop-min: 1200px;

// phones
@mixin phonePortrait {
    @media only screen and (min-width: #{$phone-portrait-min}) and (max-width : #{$phone-landscape-max}){
        @content;
    }
 }

 @mixin phoneLandscape {
    @media only screen and (min-width: #{$phone-landscape-min}) and (max-width : #{$phone-landscape-max}){
        @content;
    }
 }
 
 // tablets
 @mixin tabletPortrait {
    @media only screen and (max-width: $tablet-portrait-max) {
        @content;
    }
 }
  //when width is 991px or less
 @mixin tabletLandScape {
    @media only screen and (max-width: #{$tablet-landscape-max}) {
        @content;
    }
 }
 
 // desktops
 @mixin desktop {
    @media only screen and (min-width: #{$desktop-min}) {
        @content;
    }
 }

 @mixin largeDesktop {
    @media only screen and (min-width: #{$large-desktop-min}) {
        @content;
    }
 }