@import 'mixins';
@import 'body';
@include tabletPortrait {
    body#body {
        .left {
            display: none;
            &.show {
                display: block;
                position: absolute;
                z-index: 1;
                .typeahead-selector {
                    width: unset;
                    max-width: 300px;
                }
                max-height: 400px;
            }
        }
        #drawer {
            z-index: 101;
            display: block;
            width: 45px;
            height: 30px;
            position: absolute;
            top: 80px;
            left: 0px;
            padding: 0;
            animation: highlight 2s infinite;
        }
        .list-header {
            display: none;
        }
        .results-note {
            position: unset;
        }
        .right {
            &>ul {
                li {
                    &.first {
                        margin-top: unset;
                    }
                }
            }
        }
    }
}